.border-info {
    border-left-color: #1f939c !important;
}

.card-layout {
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 5px;
}

* {
  font-family: 'Josefin Sans', sans-serif !important;
}

.color-aqua {
    color: #1f939c;
}
.color-back-aqua {
    background-color: #1f939c !important;
}
.cursor-pointer {
    cursor: pointer;
}

.color-red {
    color: red;

}

.card-jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: 0.3rem;
}

.text{
  display: inline;
  width: 100%;
  white-space: pre-line;
}

.read-or-hide{
  color: rgb(192,192,192);
  cursor: pointer;
}

small {
    font: 0.7rem;
}

/* Styles for selected tags */
.ReactTags__selected span.ReactTags__tag {
    background: #1f939c;
    color: white;
    font-size: 1 rem;
    display: inline-block;
    padding: 0.2%;
    margin: 0.1%;
    border-radius: 10px;
    padding-left: 0.5%;
  }
  .ReactTags__selected a.ReactTags__remove {
    color: red;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 10px;

  }
  
  .ReactTags__remove {
    border: none;
    cursor: pointer;
    background: none;
    color: red;
    border-radius: 10px;

    color: white;
  }
  .ReactTags__tagInput {
    border-radius: 5px;
    display: inline-block;
    margin-left: 0.5%;
    border: 1px #1f939c !important;

  }
.ReactTags__tagInput input.ReactTags__tagInputField,
.ReactTags__tagInput input.ReactTags__tagInputField:focus {
    border: 1px solid #1f939c;

}
.ReactTags__tagInput input.ReactTags__tagInputField:active {
    border: 1px solid #1f939c;

}

.example img {
  width: 100%;
  position: relative;
}

.example .overlay {
  position: absolute;
  top: 80px;
  right: 15px;
  font-weight: bold;
  text-align: right;
  font-size: 30px;
}

.example::after {
  content: "Multi-line\00000a text";
  position: absolute;
  top: 80px;
  white-space: pre;
  right: 15px;
  font-weight: bold;
  text-align: right;
  font-size: 30px;
}

header {
  height: 800px;
  width: 100%;
  text-align: center;
  padding-top: 100px;
  color: white;
  overflow: hidden;
  background: #C04848;  /* fallback for old browsers */
  background: linear-gradient(rgb(0,52,72,0.8), rgb(192,72,72,0.8)), url("https://ik.imagekit.io/ikmedia/blog/hero-image.jpeg");  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(rgba(0, 52, 72, 0.8), rgb(192,72,72,0.8)), url("https://ik.imagekit.io/ikmedia/blog/hero-image.jpeg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-repeat: no-repeat;
}